.root {
    -fx-font-family: "Arial";
    -fx-background-color: #1E1E2F;
    -fx-padding: 20;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.button {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-border-color: #333;
    -fx-border-width: 1;
    -fx-cursor: hand;
}

.button.plouf {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
}

.button.touche {
    -fx-background-color: #FF5722;
    -fx-text-fill: white;
}

.button.touche_coule {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
}

.button:focused, .button:hover {
    -fx-opacity: 0.9;
}
